<!DOCTYPE html>
<head>
    <style>
    body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1.5rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        #btn-ok{
            background-color: #35a8e0;
            padding: 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            color: #ffff;
            font-weight: bold;
            margin: 1.3rem 0;
            display: block;
            width: 7rem;
            text-align: center;

        }
        #btn-ok:hover{
            background-color: #299fd9;
        }

        @media (max-width: 576px) {
            #content{
            width: 25rem;
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <span>
            <img src="https://firebasestorage.googleapis.com/v0/b/sacada-d9a34.appspot.com/o/assets%2Fsoluca-logo.webp?alt=media&token=72a04460-5af3-4c24-bf61-aa192db3acda" alt="logo sacada soluções">
        </span>

        
         <div id="content">
            <p>
                <span>Olá <strong>{{name}}</strong>,</span>
    
                <span>Obrigado por registrar em nosso sistema de sacada!</span>
                <span>Precisamos de mais algumas informações para concluir seu registro, incluindo uma confirmação do seu endereço de e-mail.</span>
                <span>Clique no botão abaixo para confirmar seu endereço de e-mail:</span>
            
                <a id="btn-ok" href="{{link}}">Confirmar</a>
                
                <span>
                Atenciosamente, <strong>Solução Fechamento Inteligente</strong>
                </span>
            </p>
        </div>
        
    </div>
</body>
</html>